# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# jetbrains ide stuff
.idea*

.swp*
.swo*


bin/
vendor/github.com/
vendor/golang.org/
vendor/google.golang.org/
vendor/gopkg.in/
vendor/go.uber.org/
vendor/k8s.io/
vendor/honnef.co/
